$macc-bg0: #1c120d;
$macc-bg1: #261a15;
$macc-bg2: #372922;
$macc-bg3: #473b34;
$macc-bg4: #685c56;

$macc-fg0: #e6d2c8;
$macc-fg1: #cbad9f;
$macc-fg2: #ad9184;
$macc-fg3: #886859;
$macc-fg4: #6d4f41;

$macc-bg: #1c120d;
$macc-fg: #dcb6a4;
$macc-0: #090504;
$macc-1: #f0565b;
$macc-2: #7bc596;
$macc-3: #c2ad61;
$macc-4: #8199d9;
$macc-5: #9f80c2;
$macc-6: #8ec0cb;
$macc-7: #dacbc4;
$macc-8: #090504;
$macc-9: #f54147;
$macc-10: #6bd692;
$macc-11: #d6bb58;
$macc-12: #6384da;
$macc-13: #996acd;
$macc-14: #6ecadf;
$macc-15: #e2ae96;

$macc-black: $macc-0;
$macc-black-alt: $macc-8;
$macc-red: $macc-1;
$macc-red-alt: $macc-9;
$macc-green: $macc-2;
$macc-green-alt: $macc-10;
$macc-yelloe: $macc-3;
$macc-yellow-alt: $macc-11;
$macc-blue: $macc-4;
$macc-blue-alt: $macc-12;
$macc-magenta: $macc-5;
$macc-magenta-alt: $macc-13;
$macc-cyan: $macc-6;
$macc-cyan-alt: $macc-14;
$macc-white: $macc-7;
$macc-white-alt: $macc-15;
$macc-background: $macc-bg0;
$macc-foreground: $macc-fg0;


